<nav id="footer">
    <div class="container">
        <div class="pull-left">
            <p>copyright &copy; 2020. All rights reserved.</p>
        </div>
        <div class="pull-right rounded-social-buttons">
                <a class="social-button facebook" href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a class="social-button twitter" href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</nav>
